<div style="border: 5px solid black">
  <% if @visitor %>
	<h2> Hello, <%= @visitor %>!<h2>
	<% else %>
		<form action="/">
		<h2>Hello! My name is <%= @name %>.</h2>
		<h3>What is your name?</h3>
		<input type="text" name="name" value="Your Name">
		<input type="submit" value="Create">
		</form>
	<% end %>

	<img src="/images/kitty2.jpg">
</div>