<div style="border: 5px solid black">
  <% if @visitor %>
	  Hello, <%= @visitor %>!
	<% end %>
	<img src="http://www.bideawee.org/Media/Image/Brafton/It-s-kitten-season--Is-your-home-ready-for-the-arrival-of-your-new-pet-_16001188_800827146_0_0_14067751_500.jpg">
</div>